/* 1. Global Reset (The Borland Look) */
html,
body,
div,
span,
p,
section,
article {
    background-color: #0000A4 !important;
    color: #FFFF4E !important;
    border-color: #FFFFB6 !important;
}

video,
.html5-video-player,
.html5-video-container,
.ytp-gradient-bottom,
.ytp-gradient-top,
.ytp-chrome-bottom,
canvas {
    background-color: transparent !important;
}

/* prevent the "Blue Box" */
div[class*="player"],
div[class*="video"],
div[class*="overlay"] {
    background-color: transparent !important;
}

a,
a * {
    color: #B5DCFF !important;
    text-decoration: underline !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #FFFFFF !important;
}

input,
textarea,
button,
select {
    background-color: #4F4F4F !important;
    color: #FFFF4E !important;
    border: 1px solid #EEEEEE !important;
}